<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.account.account.mapper.AccountMapper">

    <select id="getAccountList" resultType="com.account.account.entity.Account">
        select * from hundun_account
    </select>

    <insert id="saveAccount" parameterType="com.account.account.entity.Account">
        INSERT INTO hundun_account (account,account_num,type,amount, create_time) values ( #{account}, #{accountNum}, #{type}, #{amount}, #{createTime})
    </insert>

    <update id="updateAccount" parameterType="com.account.account.entity.Account">
        update hundun_account set  account = #{account}, account_num = #{accountNum}, type = #{type}, amount = #{amount}, create_time = #{createTime} where id = #{id}
    </update>
</mapper>