<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.order.mapper.OrderMapper">

    <update id="updateOrder" parameterType="com.order.order.entity.Order">
        update hundun_order set  order_name = #{orderName}, order_num = #{orderNum},account_id = #{accountId}, amount = #{amount}, create_time = #{createTime} where id = #{id}
    </update>

    <insert id="saveOrder" parameterType="com.order.order.entity.Order">
        INSERT INTO hundun_order (order_name, account_id, order_num, amount, create_time) values (#{orderName}, #{accountId}, #{orderNum}, #{amount}, #{createTime})
    </insert>

    <select id="getOrderList" resultType="com.order.order.entity.Order">
        select *  from hundun_order
    </select>
</mapper>